<div class="container">
    <div class="row">
        <div class="col-6">
            <h1>Список товаров на фронте</h1>
            <div *ngIf="(product$ | async | json) != '{}'; else noProducts">
                <div [formGroup]="form">
                    <div class="card" style="width: 18rem;" *ngFor="let parameter of form.controls | keyvalue">
                        <div class="card-body">
                            <input class="card-title" [formControlName]="parameter.key">
                            <div class="validator" *ngIf="form.get(parameter.key)?.invalid">
                                <small *ngIf="form.get(parameter.key)?.errors && form.get(parameter.key)?.errors!['required']">Необходимо заполнить поле</small>
                            </div>
                            <button type="button"
                                class="btn btn-primary"
                                [ngClass]="form.get(parameter.key)?.errors && form.get(parameter.key)?.errors!['required'] ? 'disabled' : 'active'"
                                (click)="updateCard(parameter.key)">Обновить</button>
                            <button type="button" class="btn btn-danger"
                                (click)="deleteCard(parameter.key)">Удалить</button>
                        </div>
                    </div>
                </div>
            </div>
            <ng-template #noProducts>
                <h4>Нет товаров</h4>
            </ng-template>
            <button type="button" class="btn btn-primary" (click)="createCard()">Добавить товар</button>
        </div>
        <div class="col-6">
            <h1>Список товаров в Store</h1>
            <pre>{{product$ | async | json}}</pre>
        </div>
    </div>
</div>